@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Raleway", sans-serif;
    background-color: 	#d6eaf8   ;
}

h1,h2,h3{
    font-family: "Merriweather", serif;
}

h1{
    font-weight: 900;
    text-align: center;
    color:  #21618c;
}

h3{
    font-weight: 400;
}

#Semi{
    text-decoration: underline;
}